{% extends '../layout/base.html' %} {% block content %}
<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="max-w-screen-xl px-4 md:px-8 mx-auto">
    <div class="grid grid-cols-1 gap-4 lg:gap-8 mb-10">
      <!-- person - start -->
      <div class="flex flex-col items-center bg-gray-100 rounded-lg p-4 lg:p-8">
        <div
          class="w-24 md:w-32 h-24 md:h-32 rounded-full overflow-hidden shadow-lg mb-2 md:mb-4"
        >
          <img
            src="https://res.cloudinary.com/rohanphulkar/image/upload/v1683593894/sciotics/user_qt2p0u.png"
            loading="lazy"
            alt="{{request.user}}"
            class="w-full h-full object-cover object-center"
          />
        </div>

        <div>
          <div class="text-primary md:text-lg font-bold text-center">
            {{request.user}}
          </div>
        </div>
      </div>
      <!-- person - end -->
    </div>
    <!-- text - start -->
    <div class="mb-10 md:mb-16">
      <h2
        class="text-gray-800 text-2xl lg:text-3xl font-bold text-center mb-4 md:mb-6"
      >
        Orders
      </h2>
    </div>
    <div
      class="grid sm:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 gap-4 md:gap-6 xl:gap-8"
    >
      <!-- article - start -->
      {% for order in orders %}
      <div
        class="flex flex-col md:flex-row items-center border rounded-lg overflow-hidden"
      >
        <p
          class="group w-full md:w-32 lg:w-40 h-48 md:h-full block self-start shrink-0 bg-gray-100 overflow-hidden"
        >
          <img
            src="{{order.products.first.image.url}}"
            loading="lazy"
            alt="{{order.products.name}}"
            class="w-full h-full object-fit object-center transition duration-200"
          />
        </p>

        <div class="flex flex-col gap-2 p-4 lg:p-6 w-full">
          <div class="flex itesm-center justify-between w-full">
            <span class="text-gray-400 text-sm">{{order.created_at}}</span>
            <span
              class="inline-flex items-center gap-1.5 py-1.5 px-3 rounded-full text-xs font-medium {{order.status}}"
              >{{order.status|title}}</span
            >
          </div>
          <h2 class="text-gray-800 text-lg font-bold w-[90%]">
            <p
              class="hover:text-indigo-500 active:text-indigo-600 transition duration-100 capitalize truncate"
            >
              {{order.products.all|join:", "}}
            </p>
          </h2>

          <p class="text-gray-500">
            <span class="text-gray-700 font-medium">Address :</span>
            <br />{{order.address}}
          </p>
        </div>
      </div>
      {% endfor %}
      <!-- article - end -->
    </div>
  </div>
</div>
{% endblock content %}
