{% extends '../layout/base.html' %} {% block content %}

<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="mx-auto max-w-7xl px-4 md:px-8">
    <div class="grid gap-8 md:grid-cols-2">
      <!-- images - start -->
      <div class="space-y-4">
        <div class="relative overflow-hidden rounded-lg bg-gray-100">
          <img
            src="{{product.image.url}}"
            loading="lazy"
            alt="{{product.name}}"
            id="main-image"
            class="h-[35rem] w-full object-fill"
          />
        </div>

        <div class="grid grid-cols-2 gap-4">
          <div class="overflow-hidden bg-gray-100">
            <img
              onclick="setImage(event)"
              src="{{product.image.url}}"
              loading="lazy"
              alt="{{product.name}}"
              class="h-48 w-full object-fill rounded-lg product-images border-4 border-amber-300"
            />
          </div>
          {% for item in product_images %}
          <div class="overflow-hidden rounded-lg bg-gray-100">
            <img
              onclick="setImage(event)"
              src="{{item.image.url}}"
              loading="lazy"
              alt="{{product.name}}"
              class="h-48 w-full object-cover product-images"
            />
          </div>
          {% endfor %}
        </div>
      </div>
      <!-- images - end -->

      <!-- content - start -->
      <div class="md:py-8">
        <!-- name - start -->
        <div class="mb-2 md:mb-3">
          <h2 class="text-2xl font-bold text-gray-800 lg:text-3xl">
            {{product.name}}
          </h2>
        </div>
        <!-- name - end -->

        {% if review %}
        <!-- rating - start -->
        <div class="mb-6 flex items-center gap-3 md:mb-5">
          <div
            class="flex h-7 items-center gap-1 rounded-full bg-amber-600 px-2 text-white"
          >
            <span class="text-sm">{{rating}}</span>

            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
              />
            </svg>
          </div>
        </div>
        <!-- rating - end -->
        {% endif %}

        <!-- price - start -->
        <div class="mb-4">
          <div class="flex items-end gap-2">
            <span class="text-xl font-bold text-gray-800 md:text-2xl"
              >&#8377;{{product.price}}</span
            >
          </div>
        </div>
        <!-- price - end -->
        <!-- Stock -->

        <p
          class="text-xl font-semibold {% if product.in_stock > 0 %} text-primary/80 {{product.in_stock}} {% else %} text-red-500 {% endif %} mb-4"
        >
          {% if product.in_stock > 0 %} {{product.in_stock}} left in stocks {%else %} Out of Stock {% endif %}
        </p>

        <!-- Stock End -->
        <!-- shipping notice - start -->
        <div class="mb-6 flex items-center gap-2 text-gray-500">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              d="M9 17a2 2 0 11-4 0 2 2 0 014 0zM19 17a2 2 0 11-4 0 2 2 0 014 0z"
            />
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M13 16V6a1 1 0 00-1-1H4a1 1 0 00-1 1v10a1 1 0 001 1h1m8-1a1 1 0 01-1 1H9m4-1V8a1 1 0 011-1h2.586a1 1 0 01.707.293l3.414 3.414a1 1 0 01.293.707V16a1 1 0 01-1 1h-1m-6-1a1 1 0 001 1h1M5 17a2 2 0 104 0m-4 0a2 2 0 114 0m6 0a2 2 0 104 0m-4 0a2 2 0 114 0"
            />
          </svg>

          <span class="text-sm">5-7 days shipping</span>
        </div>
        <!-- shipping notice - end -->

        <!-- buttons - start -->
        <div class="flex gap-2.5">
          <a
            href="{% url 'add_to_cart' product.id %}"
            class="inline-block flex-1 rounded-lg bg-primary px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 hover:bg-primary/90 focus-visible:ring sm:flex-none md:text-base"
            >Add to cart</a
          >
          {% if user.is_authenticated %}
          <a
            href="{% url 'add_to_wishlist' product.id %}"
            class="inline-block rounded-lg bg-gray-200 px-4 py-3 text-center text-sm font-semibold {% if in_wishlist %} text-red-500 {% else %} text-gray-500 {% endif %} outline-none ring-indigo-300 transition duration-100 hover:bg-gray-300 focus-visible:ring active:text-gray-700 md:text-base"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              fill="currentColor"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"
              />
            </svg>
          </a>
          {% endif %}
        </div>
        <!-- buttons - end -->

        <!-- description - start -->
        <div class="mt-10 md:mt-10">
          <div class="mb-3 text-lg font-semibold text-gray-800">
            Description
          </div>

          <p id="descriptionContainer" class="text-gray-700 prose prose-sm">
            {{product.description|safe}}
          </p>
          <button id="readMoreButton" class="text-primary text-sm">
            Read More
          </button>
        </div>
        <!-- description - end -->
        <!-- List -->
        <ul role="list" class="space-y-2 sm:space-y-4 mt-8">
          <li class="flex space-x-3">
            <!-- Solid Check -->
            <svg
              class="flex-shrink-0 h-6 w-6 text-blue-600 dark:text-blue-500"
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M15.1965 7.85999C15.1965 3.71785 11.8387 0.359985 7.69653 0.359985C3.5544 0.359985 0.196533 3.71785 0.196533 7.85999C0.196533 12.0021 3.5544 15.36 7.69653 15.36C11.8387 15.36 15.1965 12.0021 15.1965 7.85999Z"
                fill="currentColor"
                fill-opacity="0.1"
              />
              <path
                d="M10.9295 4.88618C11.1083 4.67577 11.4238 4.65019 11.6343 4.82904C11.8446 5.00788 11.8702 5.32343 11.6914 5.53383L7.44139 10.5338C7.25974 10.7475 6.93787 10.77 6.72825 10.5837L4.47825 8.5837C4.27186 8.40024 4.25327 8.0842 4.43673 7.87781C4.62019 7.67142 4.93622 7.65283 5.14261 7.83629L7.01053 9.49669L10.9295 4.88618Z"
                fill="currentColor"
              />
            </svg>
            <!-- End Solid Check -->

            <span class="text-sm sm:text-base text-gray-500">
              <span class="font-bold">Length</span> – {{product.length}} CM
            </span>
          </li>
          <li class="flex space-x-3">
            <!-- Solid Check -->
            <svg
              class="flex-shrink-0 h-6 w-6 text-blue-600 dark:text-blue-500"
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M15.1965 7.85999C15.1965 3.71785 11.8387 0.359985 7.69653 0.359985C3.5544 0.359985 0.196533 3.71785 0.196533 7.85999C0.196533 12.0021 3.5544 15.36 7.69653 15.36C11.8387 15.36 15.1965 12.0021 15.1965 7.85999Z"
                fill="currentColor"
                fill-opacity="0.1"
              />
              <path
                d="M10.9295 4.88618C11.1083 4.67577 11.4238 4.65019 11.6343 4.82904C11.8446 5.00788 11.8702 5.32343 11.6914 5.53383L7.44139 10.5338C7.25974 10.7475 6.93787 10.77 6.72825 10.5837L4.47825 8.5837C4.27186 8.40024 4.25327 8.0842 4.43673 7.87781C4.62019 7.67142 4.93622 7.65283 5.14261 7.83629L7.01053 9.49669L10.9295 4.88618Z"
                fill="currentColor"
              />
            </svg>
            <!-- End Solid Check -->

            <span class="text-sm sm:text-base text-gray-500">
              <span class="font-bold">Weight</span> – {{product.weight}} KG
            </span>
          </li>
        </ul>
        <!-- End List -->
      </div>

      <!-- content - end -->
    </div>
    {% if related_products %}
    <h1 class="mt-20 text-2xl font-semibold">Related Products</h1>
    <div class="grid gap-4 grid-cols-2 sm:grid-cols-3 mt-4">
      <!-- product - start -->
      {% for item in related_products %}
      <div
        class="group flex w-full max-w-xs flex-col overflow-hidden rounded-lg border border-gray-100 bg-white shadow-md"
      >
        <a href="{% url 'product' product.slug %}">
          <a
            class="relative mx-3 mt-3 flex h-60 overflow-hidden rounded-xl"
            href="{% url 'product' product.slug %}"
          >
            <img
              class="peer absolute top-0 right-0 h-full w-full object-cover"
              src="{{item.image.url}}"
              alt="{{item.name}}"
            />
            <!-- <div class="absolute  bottom-0 mb-4 flex space-x-4 w-full justify-center">
          <div class="rounded-full h-3 w-3 bg-gray-200 border-2 border-white"></div> 
          <div class="rounded-full h-3 w-3 bg-gray-200 border-2 border-white"></div>
          <div class="rounded-full h-3 w-3 bg-gray-200 border-2 border-white"></div>
        </div> -->
          </a>
          <div class="mt-4 px-5 pb-5">
            <h5 class="text-xl font-semibold tracking-tight text-slate-900">
              {{item.name}}
            </h5>
            <div class="mt-2 mb-5 flex items-center justify-between">
              <p>
                <span class="text-3xl font-medium text-slate-900"
                  >&#8377;{{item.price}}</span
                >
                {% comment %}
                <span class="text-sm text-slate-900 line-through">&#8377;{{item.price}}</span>
                {% endcomment %}
              </p>
            </div>
            <a
              href="{% url 'add_to_cart' item.id %}"
              class="flex items-center justify-center rounded-md bg-primary px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-primary/90 focus:outline-none focus:ring-4 focus:ring-blue-300"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="mr-2 h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"
                />
              </svg>
              Add to cart</a
            >
          </div>
        </a>
      </div>
      {% endfor %}
      <!-- product - end -->
    </div>
    {% endif %}
  </div>
</div>

<script>
  var mainImage = document.getElementById("main-image");
  var productImages = document.getElementsByClassName("product-images");
  function setImage(e) {
    mainImage.src = e.target.src;
    Array.from(productImages).forEach(function (element) {
      element.classList.remove("border-4", "border-secondary");
    });
    e.target.classList.add("border-4", "border-secondary");
  }

  // Check if the description overflows and show the "Read More" button if necessary
  var descriptionContainer = document.getElementById("descriptionContainer");
  var readMoreButton = document.getElementById("readMoreButton");

  if (descriptionContainer.scrollHeight > descriptionContainer.clientHeight) {
    readMoreButton.style.display = "block";
  }

  // Toggle between collapsed and expanded states when the "Read More" button is clicked
  readMoreButton.addEventListener("click", function () {
    descriptionContainer.classList.toggle("collapsed");
    if (descriptionContainer.classList.contains("collapsed")) {
      readMoreButton.textContent = "Read More";
    } else {
      readMoreButton.textContent = "Read Less";
    }
  });
</script>
{% endblock content %}
