{% extends '../layout/base.html' %} {% block content %}
<!-- Card Blog -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <!-- Title -->
  <div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
    <h2 class="text-2xl font-bold md:text-4xl md:leading-tight">Shop</h2>
    <p class="mt-1 text-gray-600">Original Hai Kyoki Origin Se Hai</p>
  </div>
  <!-- End Title -->

  <!-- Grid -->
  <div
    class="w-fit mx-auto grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 justify-items-center justify-center gap-y-20 gap-x-14 mt-10 mb-5"
  >
    <!-- Card -->
    {% for product in products %}

    <a
      href="{% url 'product' product.slug %}"
      class="group relative block overflow-hidden border-2 border-amber-200 rounded-md p-3"
    >
      <img
        src="{{product.image.url}}"
        alt="{{product.name}}"
        class="h-64 w-full rounded-md object-cover transition duration-500 sm:h-72"
      />

      <div class="relative bg-white p-4">
        <h3 class="text-lg font-semibold text-gray-900">{{product.name}}</h3>

        <p class="mt-1.5 text-gray-700 font-medium">&#8377;{{product.price}}</p>
      </div>
    </a>
    {% endfor %}
    <!-- Card End -->
  </div>
  <!-- End Grid -->
</div>
<!-- End Card Blog -->
{% endblock content %}
